<md-content class="github-main" layout-gt-sm="row" layout-padding>
    <div layout="column" layout-fill>
        <md-input-container class="md-block">
            <label>Github Repository URL</label>
            <input class="github-repo-url" ng-model="vm.repoUrl" ng-change="vm.parseAndSetRepoPath()">
        </md-input-container>

        <div layout="row" class="tag-selections-container">
            <div layout="column" layout-align="start center">
                <md-input-container class="tag-selection">
                    <md-select ng-model="vm.baseTag" md-on-close="vm.determineShowListFilesButton()" placeholder="Select BASE tag">
                        <md-option ng-value="opt" ng-repeat="opt in vm.availableTags">{{ opt.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-button ng-if="vm.baseTag" ng-disabled="true" class="md-raised md-primary tag-type-label">
                    BASE
                </md-button>
            </div>

            <div class="selection-spacer"></div>

            <div layout="column" layout-align="start center">
                <md-input-container class="tag-selection">
                    <md-select ng-model="vm.headTag" md-on-close="vm.determineShowListFilesButton()" placeholder="Select HEAD tag">
                        <md-option ng-value="opt" ng-repeat="opt in vm.availableTags">{{ opt.name }}</md-option>
                    </md-select>
                </md-input-container>
                <md-button ng-if="vm.headTag" ng-disabled="true" class="md-raised md-primary tag-type-label">
                    HEAD
                </md-button>
            </div>
        </div>

        <md-input-container>
            <md-button
                ng-if="vm.showListFilesButton"
                ng-click="vm.compareBetweenTags()"
                class="md-raised"
                >
                <md-tooltip md-direction="bottom">No matter what you select we are only mocking 4.0.1...4.0.2</md-tooltip>
                LIST FILES
            </md-button>
        </md-input-container>

        <md-input-container ng-if="vm.comparisonData.files.length > 0">
            <md-select
                ng-model="vm.fileTargetObj"
                placeholder="Select file to compare"
                type="search"
                >
                <md-option ng-value="opt" ng-repeat="opt in vm.comparisonData.files">{{ opt.filename }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <md-button
                ng-if="vm.fileTargetObj.filename"
                ng-click="vm.compareFileBetweenTags()"
                class="md-raised"
                >
                COMPARE
            </md-button>
        </md-input-container>

        <md-card>
            <aseed-file-info-card
                ng-if="vm.haveFileInfo"
                [file-info]="vm.fileInfo"
                >
            </aseed-file-info-card>
        </md-card>
    </div>
</md-content>