.angular-seed-main {
  md-sidenav {
    md-toolbar.left-nav-toolbar {
      $toolbarHeight: 68px;

      min-height: $toolbarHeight;
      max-height: $toolbarHeight;
    }
  }

  angular-seed-main {
    .main-container {
      $buffer: 20px;
      padding: $buffer;
      height: 100%;
      width: calc(100% - ($buffer*2));
    }
  }
}
